@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About_hacksalsh</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/component.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Semester")</li>
                <li>@Html.ActionLink("Save Department", "Save_Department", "Semester")</li>
                <li>@Html.ActionLink("View Department", "View_Department", "Semester")</li>
                <li>@Html.ActionLink("Save Course", "Save_course", "Semester")</li>
                <li>@Html.ActionLink("Save Teacher", "Save_Teacher", "Semester")</li>
                <li>@Html.ActionLink("Assign a course to Teacher's", "AssignCourseToTeachers", "Semester")</li>
                <li>@Html.ActionLink("Course Statics", "CourseStatics", "CourseStatics")</li>
                <li>@Html.ActionLink("Room Allocation", "RoomAllocation", "RoomAllocate")</li>
                <li>@Html.ActionLink("Student Registration", "Save_Student", "Student")</li>
                <li>@Html.ActionLink("Enroll In a Course's", "CourseAssignToStudents", "CourseAssignToStudent")</li>
                <li>@Html.ActionLink("Result Entry", "SaveResult", "StudentResult")</li>
                <li>@Html.ActionLink("View Result", "ViewResult", "StudentResult")</li>
                <li>@Html.ActionLink("UnAssign All Course's", "UnAssignAllCourses", "UnassignAllCourse")</li>
               
            </ul>
           
        </div>
    </nav>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="border-left: 2px solid red; border-right: 2px solid red;">
            <div class="container">
                <!-- Codrops top bar -->

                <header class="clearfix">
                    <h1>Our Team Member</h1>

                    <span class="support-note">HackslaskH</span>
                </header>
                <div class="main">
                    <ul id="bk-list" class="bk-list clearfix">
                        <li>
                            <div class="bk-book book-1 bk-bookdefault">
                                <div class="bk-front">
                                    <div class="bk-cover-back"></div>
                                    <div class="bk-cover">

                                    </div>
                                </div>
                                <div class="bk-page">
                                    <div class="bk-content bk-content-current">
                                        <h>Md. Rakibur Rahman (Poran)</h>

                                        <hr />
                                        <p>
                                            Skilled Capability
                                            <br />
                                            -------------------------------------<br />
                                            Programming :<br />
                                            --> Basic C & C++,<br />
                                            --> C# (csharp)<br />
                                            --> ASP.NET With MVC<br />
                                            --> PHP Raw Coding & OOP<br />
                                            --> PHP CodeIgnator MVC<br />
                                            --> JavaScript<br />
                                            --> jQuery<br />
                                            --> AJAX<br />

                                        </p>
                                    </div>
                                    <div class="bk-content">
                                        <h5>Md. Rakibur Rahman (Poran)</h5>

                                        <hr />
                                        <p>
                                            Skilled Capability
                                            <br />
                                            -------------------------------------<br />
                                            Database :<br />
                                            --> SqlServer 2012,<br />
                                            --> mySql <br />

                                            -------------------------------------<br />
                                            Web Desigining :<br />
                                            --> CSS3<br />
                                            --> HTML5<br />


                                        </p>
                                    </div>
                                    <div class="bk-content">
                                        <h5>Md. Rakibur Rahman (Poran)</h5>

                                        <hr />
                                        <p>
                                            Education Qualification :
                                            <br />
                                            -------------------------------------<br />
                                            B'sc In CSE - 2016 :<br />
                                            --> Bangladesh University<br />


                                            -------------------------------------<br />
                                            Diploma in Computer - 2012 :<br />
                                            --> Chittagong Polytechnic Institute<br />
                                            -------------------------------------<br />
                                            SSC in Busines Studies -2008 :<br />
                                            --> Gouri Nagar High School<br />



                                        </p>
                                    </div>
                                </div>
                                <div class="bk-back">

                                </div>
                                <div class="bk-right"></div>
                                <div class="bk-left">
                                    <h2>
                                        <span>matirmanus</span>
                                        <span>01813550000</span>
                                    </h2>
                                </div>
                                <div class="bk-top"></div>
                                <div class="bk-bottom"></div>
                            </div>
                            <div class="bk-info">
                                <button class="bk-bookback">See Another</button>
                                <button class="bk-bookview">View Details</button>
                                <h3>
                                    <span>Md Rakibur Rahman</span>
                                    <span>Silent Coder</span>
                                </h3>
                                <p>
                                    Email : matirmanusrakib@gmail.com<br />
                                    Skype : matirmanusrakib<br />
                                    Phone : +8801813550000
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="bk-book book-2 bk-bookdefault">
                                <div class="bk-front">
                                    <div class="bk-cover-back"></div>
                                    <div class="bk-cover">
                                        <h2>
                                            <span></span>
                                            <span></span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="bk-page">
                                    <div class="bk-content">
                                        <h5>Md. Ismail Hossain</h5>
                                        <hr /><p>

                                            Skilled Capability
                                            <br />
                                            -------------------------------------<br />
                                            Programming :<br />
                                            --> Basic C & C++,<br />
                                            --> C# (csharp)<br />
                                            --> ASP.NET With MVC<br />

                                            -------------------------------------<br />
                                            Database :<br />
                                            --> SqlServer 2012,<br />


                                        </p>
                                    </div>
                                    <div class="bk-content">

                                        <h5>Md. Ismail Hossain</h5>
                                        <hr />
                                        <p>
                                            Skilled Capability
                                            <br />
                                            -------------------------------------<br />
                                            Web Desigining :<br />
                                            --> CSS3<br />
                                            --> HTML5<br />
                                        </p>
                                    </div>
                                    <div class="bk-content bk-content-current">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="bk-back">
                                    <p></p>
                                </div>
                                <div class="bk-right"></div>
                                <div class="bk-left">
                                    <h2>
                                        <span></span>
                                        <span>Md. Ismail Hossain</span>
                                    </h2>
                                </div>
                                <div class="bk-top"></div>
                                <div class="bk-bottom"></div>
                            </div>
                            <div class="bk-info">
                                <button class="bk-bookback">Flip</button>
                                <button class="bk-bookview">View Details</button>
                                <h3>
                                    <span>Md. Ismail Hossain</span>
                                    <span>The Catfather</span>
                                </h3>
                                <p>
                                    Email : ismail-ha-ha@gmail.com<br />
                                    Skype : ismail-ha-ha
                                    Phone : +8801813550000
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="bk-book book-3 bk-bookdefault">
                                <div class="bk-front">
                                    <div class="bk-cover-back"></div>
                                    <div class="bk-cover">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="bk-page">
                                    <div class="bk-content bk-content-current">

                                        <h5>Abdur Razzaq Akhunji</h5>
                                        <hr />
                                        <p>
                                            Skilled Capability
                                            <br />
                                            -------------------------------------<br />
                                            Programming :<br />
                                            --> Basic C & C++,<br />
                                            --> C# (csharp)<br />
                                            --> ASP.NET With MVC<br />

                                            -------------------------------------<br />
                                            Database :<br />
                                            --> SqlServer 2012,<br />

                                        </p>
                                    </div>
                                    <div class="bk-content">
                                        <h5>Abdur Razzaq Akhunji</h5>
                                        <hr />
                                        <p>
                                            Skilled Capability
                                            <br />
                                            -------------------------------------<br />
                                            Web Desigining :<br />
                                            --> CSS3<br />
                                            --> HTML5<br />
                                        </p>
                                    </div>
                                    <div class="bk-content">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="bk-back">
                                    <img src="images/3.png" alt="cat" />
                                    <p></p>
                                </div>
                                <div class="bk-right"></div>
                                <div class="bk-left">
                                    <h2>
                                        <span></span>
                                        <span>Abdur Razzaq Akhunji</span>
                                    </h2>
                                </div>
                                <div class="bk-top"></div>
                                <div class="bk-bottom"></div>
                            </div>
                            <div class="bk-info">
                                <button class="bk-bookback">Flip</button>
                                <button class="bk-bookview">View Details</button>
                                <h3>
                                    <span>Abdur Razzaq Akhunji</span>
                                    <span>The Catcher in the Rye</span>
                                </h3>
                                <p>
                                    Email : orchid@gmail.com<br />
                                    Skype : orchid007<br />
                                    Phone : +8801813550000
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- /container -->
        </div>
    </div>

    <div class="jumbotron text-center">
        <h2>&copy;HackslasH-2016</h2>
        <p>We specialize in nothing</p>
    </div>

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>

    <script src="~/Scripts/about_team.js"></script>
    <script>
        $(function () {

            Books.init();

        });
    </script>

</body>

</html>
